*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url('https://wallpapercave.com/wp/wp3363602.jpg');
    font-family: Lato;
    background-size: 100vw 100vh;
    height: 100vh;
    font-size: 12px;    
}

@media (min-width: 400px){
    body {
      font-size: 12px;
    }
}

@media (min-width: 600px){
    body {
      font-size: 14px ;
    } 
  }

  @media (min-width: 1200px){
    body {
      font-size: 14px ;
    }
    .img-perfil {
      size: 100px;
    }
  }

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    background-color: rgba(46, 49, 49, 1);
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}

.menu li {
    list-style: none;
    border-radius: 200px 200px 200px 200px;
}

/* @media (max-width: 440px) {
    .menu li {
        padding: 12px;

    }
}  */

.menu ul {
    display: flex;
    justify-content: space-evenly;
}

.menu a{
    display: block;
    padding: 10px 10px;
}

.links {
    margin-top: 2em;
}

.links li:hover {
    background-color: rgba(111, 112, 180, 0.5);
    padding-left: 4px;
    padding-right: 4px;
}

.links ul {
    border-radius: 200px 200px 200px 200px;
    margin: auto;
    display: flex;
    width: 30vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(199, 200, 245, 0.7);
    padding: 10px;
}
/* @media (max-width: 440px) {
    .links li {
        padding: 15px;
    }
}  */

.links li {
    list-style: none;
    border-radius: 200px 200px 200px 200px;;
}

figure a{
    color: rgba(120, 120, 120, 1);
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.5s;
}


a {
    color:whitesmoke;
    text-decoration: none;
    font-size: 1.5em;
    font-family: "Helvetica Neue", Helvetica;
    transition: background-color 0.5s;
}
.menu a:hover{
    text-decoration: none;
    background-color: rgba(112, 128, 144,0.2);
}

.menu a:active{
    background-color: rgba(112, 128, 144,0.2);
}

.img-perfil{
    border-radius: 700px 700px 700px 700px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

.site-title {
    font-size: 3em;
    text-align: center;
    color: whitesmoke;
    font-family: "Helvetica Neue", Helvetica;
} 

.site-subtitle{
    line-height: 3em;
    font-size: 2em;
    text-align: center;
    color: whitesmoke;
    font-family: 'Kalam', cursive;
}


.links li {
    list-style: none;
}

.links ul {
    display: flex;
    justify-content: space-evenly;
}


.h2-pg {
    line-height: 1.5em;
    font-size: 3em;
    text-align: center;
    color: whitesmoke;
    font-family: "Lato";
    margin-bottom: 20px;
    margin-top: 60px;
}

.links a{
    display: flex;
    margin-top: 7px;
    margin-bottom: 7px;
}

.formacao,
.sobre,
.competencias,
.projetos{
    padding: 2em;
    min-height: 100vh;
}

/* @media (min-width: 900px){
    .formacao,
    .sobre,
    .projetos{
      justify-content: center;
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
  }
  } */


/* @media (min-width: 560px){
    .formacao .grid{
    margin-top: 5em;
    grid-template-columns: 200px 200px;
    justify-content: center;
    align-content: center;
    height: auto;
    
    } */

/* @media (min-width: 460px){
    .formacao,
    .sobre,
    .competencias,
    .projetos{
    justify-content: center;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
}
} */

@media (min-width: 900px){
    .formacao,
    .sobre,
    .competencias,
    .projetos{
      justify-content: center;
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
  }
  }

.grid{  
    grid-template-columns: 240px;
    display: grid;
    gap: 2em;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 100px -1em);

}

.sobre .grid{
    display: grid;
    gap: 2em 3em;
    grid-template-columns: 130px 130px;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 100px -1em);
}

.competencias .grid{
    display: grid;
    gap: 2em 3em;
    grid-template-columns: 130px 130px 130px 130px;
    justify-content: center;
    align-content: center;
    font-size: larger;
    height: 50em;
}

.formacao .grid{
    gap: 10em;
    margin-top: 200px;
    grid-template-columns: 150px;
    justify-content: center;
    align-content: center;
    height: auto;
}

.sobre figure,
.competencias figure,
.formacao figure,
.projetos figure{
    text-align: center;
}

.formacao .img{
    margin-top: 10em;
    width: 100%;
    transition: transform 0.5s;
}

.formacao .grid .mucuri {
    margin-top: 10em;
    width: 100%;
    transition: transform 0.5s;
}

.formacao  a:hover {
    text-decoration: underline;
}

.projetos .img{
    width: 115%;
    height: 85%;
    padding-right: 30px;
    border-radius: 30px 0px;
    transition: transform 0.5s;
}

.formacao .img:hover,
.projetos .img:hover{
    transform: scale(1.06);
}

figcaption {
    color: whitesmoke;
    font-family: Lato;
    font-size: large;
    text-align: center;
}

.mucuri a,
.monlevade a,
.projetos a {
    color: rgb(44, 32, 32);
    font-family: Lato;
    font-size: large;
    text-align: center;
}

@media (min-width: 560px){
    .formacao .grid{
    margin-top: 5em;
    grid-template-columns: 200px 200px;
    justify-content: center;
    align-content: center;
    height: auto;
    
    }
    .competencias .grid{
        margin-top: 5em;
        grid-template-columns: 200px 200px;
        justify-content: center;
        align-content: center;
        height: auto;
        
    }
    .projetos .grid{
    grid-template-columns: 240px 240px;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 100px - 1em);    
    }
    .sobre .grid{
    margin-top: 4em;
    gap: 2em 3em;
    grid-template-columns: 130px 130px 130px;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 100px -1em);
    }
}

@media (min-width: 800px){
    .projetos .grid{
    grid-template-columns: 220px 220px;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 100px - 1em);
    }
    .competencias .grid{
        grid-template-columns: 200px 200px;
        justify-content: center;
        align-content: center;
        height: auto;
        
    }
    .formacao .grid{
    grid-template-columns: 200px 200px;
    justify-content: center;
    align-content: center;
    height: auto;
    
    }
    .sobre .grid{
    margin-top: 4em;
    gap: 2em;
    grid-template-columns: 130px 130px 130px 130px;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 100px -1em);
    }
}

@media (min-width: 900px){
    .projetos .grid{
    gap: 4em;
    grid-template-columns: 290px 290px;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 100px -1em);
    }
    .competencias .grid{
        grid-template-columns: 200px 200px;
        justify-content: center;
        align-content: center;
        height: auto;
        
    }
    .formacao .grid{
    margin-top: 6em;
    grid-template-columns: 200px 200px;
    justify-content: center;
    align-content: center;
    height: 50%;
    }
    .sobre .grid{
    margin-top: 6em;
    gap: 2em;
    grid-template-columns: 130px 130px 130px 130px 130px;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 100px -1em);
    };
}



.sobre p{
    margin-bottom: 1em;
    color: rgb(253, 253, 253);
    font-family: Lato;
    font-size: 2em;
    text-align: left;
}  

.sobre .me {
    margin-top: 10em;
}

footer{
    color: rgb(236, 232, 232);
    font-family: Lato;
    text-align: center;
    background-color: rgba(112, 128, 144, 0.8);
    font-size: 2em;
}

.sobre .fas,
.fab{
    font-size: 2em;
    color: whitesmoke;
}
