/*soft reset do css*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

  body {
    background-image: url('https://wallpapercave.com/wp/wp3363602.jpg');
    background-size: 100vw 100vh;
    height: 100vh;
    font-size: 12px;    
  }

  /* se a tela tiver pelo menos 400px vai carregar estes estilos*/
  @media (min-width: 400px){
      body {
        font-size: 12px ;
      };
  }

  /*breakpoint*/
  @media (min-width: 600px){
    body {
      font-size: 14px ;
    } 
  }

  @media (min-width: 1200px){
    body {
      font-size: 14px ;
    }
    .img-perfil {
      size: 100px;
    }
  }

  header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu{
    background-color: rgba(46, 49, 49, 1);
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
  }

  .menu li {
    list-style: none;
  }

  .menu ul {
    display: flex;
    justify-content: space-evenly;
  }

  .menu a{
    display: block;
    padding: 10px 10px;
  }

  figure a{
    color: black;
    text-decoration: none;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica;
    transition: background-color 0.5s;
  }


  a {
    color:whitesmoke;
    text-decoration: none;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica;
    transition: background-color 0.2s;
  }
  .menu a:hover{
    text-decoration: none;
    background-color: rgba(112, 128, 144,0.2);
  }

  .menu a:active{
    background-color: rgba(112, 128, 144,0.2);
  }
 
  .img-perfil{
    border-radius: 700px 700px 700px 700px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
  }

  .site-title {
    font-size: 3em;
    text-align: center;
    color: whitesmoke;
    font-family: 'Comfortaa', cursive;
  } 
  
  .site-subtitle{
    line-height: 1.5em;
    font-size: 1.5em;
    text-align: center;
    color: whitesmoke;
    font-family: 'Kalam', cursive;
  }

  .menu-2 {
    margin-top: 6em;
    background-color: rgba(120, 120, 120, 0.5);
    border-radius: 25px 25px 25px 25px;
  }

  .menu-2 li {
    list-style: none;
  }

  .menu-2 ul {
    display: flex;
    justify-content: space-evenly;
  }


  .h2-pg{
    line-height: 1.2em;
    font-size: 2em;
    text-align: center;
    color: whitesmoke;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 3em;
    margin-top: 20px;
  }

  .menu-2 a{
    display: flex;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  

  .formacao,
  .sobre,
  .projetos{
    padding: 2em;
    min-height: 100vh;
  }

  .competencias{
    padding: 2em;
    min-height: 100vh;
  }

  @media (min-width: 900px){
    .formacao,
    .sobre,
    .projetos{
      justify-content: center;
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
    }

  }

  .grid{  
    grid-template-columns: 240px;
    display: grid;
    gap: 2em;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 100px -1em);

  }

  .competencias .grid{
    margin-top: 40px;
    display: grid;
    gap: 2em 3em;
    grid-template-columns: 130px 130px;
    justify-content: center;
    align-content: center;
    font-size: larger;
    height: 35em;
    /* height: calc(100vh - 100px -1em); */
  }

  .formacao .grid{
    gap: 4em 4em;
    margin-top: 30px;
    grid-template-columns: 150px ;
    justify-content: center;
    align-content: center;
    height: auto;
  }

  .competencias figure,
  .formacao figure,
  .projetos figure{
    text-align: center;
  }

  .formacao .img{
    width: 100%;
    right: 100%;
    transition: transform 0.5s;
  }

  .projetos .img{
    width: 100%;
    right: 100%;
    border-radius: 30px 0px;
    transition: transform 0.5s;
  }

  .formacao .img:hover,
  .projetos .img:hover{
    transform: scale(1.05);
  }

  figcaption {
    color: whitesmoke;
    font-family: "Helvetica Neue", Helvetica;
    font-size: medium;
    text-align: center;
  }

  @media (min-width: 560px){
    .formacao .grid{
      margin-top: 5em;
      grid-template-columns: 200px 200px;
      justify-content: center;
      align-content: center;
      height: auto;
    
    }
    .projetos .grid{
      grid-template-columns: 240px 240px;
      justify-content: center;
      align-content: center;
      height: calc(100vh - 100px - 1em);    
    }
    .competencias .grid{
      margin-top: 4em;
      gap: 2em 3em;
      grid-template-columns: 130px 130px 130px;
      justify-content: center;
      align-content: center;
      height: calc(100vh - 100px -1em);
    }
  }

  @media (min-width: 800px){
    .projetos .grid{
      grid-template-columns: 220px 220px;
      justify-content: center;
      align-content: center;
      height: calc(100vh - 100px - 1em);
    }
    .formacao .grid{
      grid-template-columns: 200px 200px;
      justify-content: center;
      align-content: center;
      height: auto;
    
    }
    .competencias .grid{
      margin-top: 4em;
      gap: 2em;
      grid-template-columns: 130px 130px 130px 130px;
      justify-content: center;
      align-content: center;
      height: calc(100vh - 100px -1em);
    }
  }

  @media (min-width: 900px){
    .projetos .grid{
      gap: 4em;
      grid-template-columns: 290px 290px;
      justify-content: center;
      align-content: center;
      height: calc(100vh - 100px -1em);
    }
    .formacao .grid{
      margin-top: 6em;
      grid-template-columns: 200px 200px;
      justify-content: center;
      align-content: center;
      height: calc(100vh - 100px -1em);
    }
    .competencias .grid{
      margin-top: 6em;
      gap: 2em;
      grid-template-columns: 130px 130px 130px 130px 130px;
      justify-content: center;
      align-content: center;
      height: calc(100vh - 100px -1em);
    };
  }

.formacao p{
  margin-bottom: 1em;
  color: whitesmoke;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 1.5em;
  text-indent: 1em;
  width: auto; 
}

.projetos a:hover,
.formacao  a:hover {
  text-decoration: underline;
}

.sobre p{
  margin-bottom: 1em;
  color: whitesmoke;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 1.7em;
  text-align: justify;
}  

.footer a,
.footer{
  color: black;
  font-family: "Helvetica Neue", Helvetica;
  text-align: center;
  background-color: rgba(112, 128, 144,0.1);
  font-size: 1em;
}

.sobre .fas,
.fab{
   font-size: 2em;
   color: whitesmoke;

}

@media (min-width: 430px) {
    .site-title {
      font-size: 4em;
      text-align: center;
      color: whitesmoke;
      font-family: 'Comfortaa', cursive;
    } 

    .site-subtitle{
      line-height: 1.5em;
      font-size: 2em;
      text-align: center;
      color: whitesmoke;
      font-family: 'Kalam', cursive;
    }

}