.competencias {
  padding: 2em;
  min-height: 100vh;
  min-width: 100vw;
}

.competencias .grid {
  margin-top: 40px;
  display: grid;
  gap: 2em 3em;
  grid-template-columns: 130px 130px;
  justify-content: center;
  align-content: center;
  font-size: larger;
  height: 35em;
  /* height: calc(100vh - 100px -1em); */
}

.competencias figure {
  text-align: center;
}

.competencias {
  background-image: url("../img/bg-image.jpg");
  background-size: 100vw 100vh;
}

.fab {
  font-size: 2em;
  color: whitesmoke;
}

figcaption {
  color: whitesmoke;
  font-family: "Helvetica Neue", Helvetica;
  font-size: medium;
  text-align: center;
}
