.competencias {
  padding: 2em;
  height: 100vh;
  width: 100vw;
}


.competencias figure {
  text-align: center;
}

.competencias {
  background-image: url("../img/bg-image.jpg");
  background-size: 100vw 100vh;
}

.fab {
  font-size: 2em;
  color: whitesmoke;
}

figcaption {
  color: whitesmoke;
  font-family: "Helvetica Neue", Helvetica;
  font-size: medium;
  text-align: center;
}

#grid-competencias figure:hover {
  transform: scale(1.4);
  
}
