
.formacao {
  min-height: 100vh;
  min-width: 100vw;

  background-image: url("../img/bg-image.jpg");
  background-size: 100vw 100vh;
}


.formacao .grid {
  gap: 5em 5em;
  grid-template-columns: 100px;
  justify-content: center;
  align-content: center;
  margin-top: 15%;
}

.formacao .img:hover {
  transform: scale(1.05);
}

.formacao a:hover {
  text-decoration: underline;
}


.formacao figure {
  text-align: center;
}

.formacao .img {
  width: 100%;
  right: 100%;
  transition: transform 0.5s;
}

.formacao figure .ufop {
  width: 115%;
}

.formacao figure .ufvjm {
  width: 160%;
}

.formacao a {
  margin-top: 1em;
  color: rgb(39, 38, 38);
  font-family: "Helvetica Neue", Helvetica;
  font-size: 1em;
  text-align: justify;
}


