header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  background-color: #e1eff8;
  background-size: 100vw 100vh;
  min-height: 100vh;
  min-width: 100vw;
}



.img-perfil {
  border-radius: 700px 700px 700px 700px;
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

.site-title {
  font-size: 3em;
  text-align: center;
  color: rgb(80, 79, 79);
  font-family: "Comfortaa", cursive;
  text-shadow: 2px 2px rgb(61, 59, 59);
}

.site-subtitle {
  line-height: 1em;
  font-size: 1em;
  text-align: center;
  color: rgb(80, 79, 79);
  font-family: "Kalam", cursive;
  text-shadow: 1px 1px rgb(61, 59, 59);
}
