header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  background-image: url(../img/landscape.jpg);
  background-size: 100vw 100vh;
  min-height: 100vh;
  min-width: 100vw;
}

#container {
  padding-top: 22%;
}

.img-perfil {
  border-radius: 700px 700px 700px 700px;
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

.site-title {
  font-size: 3em;
  text-align: center;
  color: whitesmoke;
  font-family: "Comfortaa", cursive;
}

.site-subtitle {
  line-height: 1.5em;
  font-size: 1.5em;
  text-align: center;
  color: whitesmoke;
  font-family: "Kalam", cursive;
}
