/*soft reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  font-size: 12px;
  overflow-x: hidden;
}

#projetos,
#formacao,
#sobre,
#competencias {
  padding: 5em;
} 

figcaption a{
  font-size: 17px;
  color: black;
}

.h2-pg {
  line-height: 1.2em;
  font-size: 4em;
  text-align: center;
  color: rgb(10, 151, 216);
  font-family: "Comfortaa", cursive;
  margin-bottom: 3em;
  margin-top: 20px;
  text-shadow: 2px 2px rgb(61, 59, 59);
  
}

.h2-pg:hover {
  transform: scale(1.09);
}

.h2-pg:hover {
  text-decoration: underline;
}



