

@media (min-width: 320px) {

  #container {
    padding-top: 30%;
  }

  #grid-competencias {
    margin-top: 40px;
    display: grid;
    gap: 3em 3em;
    grid-template-columns: 130px 130px;
    justify-content: center;
    align-content: center;
    font-size: larger;
    height: 35em;
    /* height: calc(100vh - 100px -1em); */
  }

  #grid-formacao {
    margin-top: 15%;
    grid-template-columns: 100px;
    display: grid;
    gap: 2em;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 100px -1em);
  }

  #grid-projetos {
    grid-template-columns: 240px;
    display: grid;
    gap: 3em 3em;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 100px -1em);
  }
  
    #picpay{
      margin-top: 1em;
      height: 3.5em;
      width: 3.5em;
      margin-left: .5em;
    } 
}

@media (min-width: 768px) {

  #container {
    padding-top: 30%;
  }
  #grid-competencias {
    margin-top: 40px;
    display: grid;
    gap: 3em 3em;
    grid-template-columns: 130px 130px 130px;
    justify-content: center;
    align-content: center;
    font-size: larger;
    height: 35em;
    /* height: calc(100vh - 100px -1em); */
  }

  #grid-formacao {
    margin-top: 35%;
    grid-template-columns: 100px 100px;
    display: grid;
    gap: 2em 8em;
    justify-content: center;
    align-content: center;
  }

  #grid-projetos {
    grid-template-columns: 230px 230px;
    display: grid;
    gap: 3em 3em;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 100px -1em);
  }

  #meu-nome {
    font-size: 4em;
  }

  #meu-subtitulo {
    font-size: 2em;
  }
  
  #picpay{
    margin-top: 0em;
    height: 4.5em;
    width: 4.5em;
    margin-left: 1em;
  }

}

@media (min-width: 1024px) {
  a.navbar-brand {
    padding-top: 1rem;
  }
  #menu ul {
    margin-left: 45%;
  }

  #container {
    padding-top: 20%;
  }

  #grid-competencias {
    margin-top: 40px;
    display: grid;
    gap: 3em 3em;
    grid-template-columns: 130px 130px 130px 130px;
    justify-content: center;
    align-content: center;
    font-size: larger;
    height: 35em;
    /* height: calc(100vh - 100px -1em); */
  }

  #grid-formacao {
    margin-top: 25%;
    grid-template-columns: 100px 100px;
    display: grid;
    gap: 2em 15em;
    justify-content: center;
    align-content: center;
  }

  #grid-projetos {
    grid-template-columns: 230px 230px 230px;
    display: grid;
    gap: 3em 7em;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 100px -1em);
  }

  #meu-nome {
    font-size: 5em;
  }

  #meu-subtitulo {
    font-size: 2em;
  }

  #picpay{
    height: 4.5em;
    width: 4.5em;
    margin-left: 1em;
  }
  
}

@media (min-width: 1440px) {
  #menu ul {
    margin-left: 60%;
  }

  #container {
    padding-top: 11%;
  }

  #grid-competencias {
    margin-top: 40px;
    display: grid;
    gap: 6em 6em;
    grid-template-columns: 130px 130px 130px 130px;
    justify-content: center;
    align-content: center;
    font-size: larger;
    height: 35em;
    /* height: calc(100vh - 100px -1em); */
  }
  #grid-formacao {
    margin-top: 20%;
    grid-template-columns: 100px 100px;
    display: grid;
    gap: 2em 15em;
    justify-content: center;
    align-content: center;
  }

  #grid-projetos {
    grid-template-columns: 230px 230px 230px;
    display: grid;
    gap: 5em 9em;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 100px -1em);
  }

  #barra-menu {
    margin-left: 20%;
    margin-right: 20%;
  }

  #meu-nome {
    font-size: 6em;
  }

  #meu-subtitulo {
    font-size: 3em;
  }

  #picpay{
    margin-top: 1em;
    height: 5.5em;
    width: 5.5em;
    margin-left: 1em;
  }

}
