.menu {
  margin-top: 6em;
  background-color: rgba(20, 19, 19, 0.7);
  border-radius: 25px 25px 25px 25px;
}

.menu a {
  display: flex;
  margin-top: 7px;
  margin-bottom: 7px;
}

.menu li {
  list-style: none;
}

.menu li:hover {
  background-color: rgba(242, 242, 250, 0.8);
}
.menu ul {
  display: flex;
  justify-content: space-evenly;
}
