.nav {
  width: 100vw;
}

.nav-link {
  font-size: 1.5em;
}

.nav-link:hover {
  border-bottom: 2px solid pink;
}

a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.5em;
  font-family: "Helvetica Neue", Helvetica;
  transition: background-color 0.2s;
}

/*Scrolled Menu*/
.scrolled {
  background-color: #d8cce0;
}

.menu.scrolled .discreto {
  color: #202026 !important;
}
