.projetos {
  background-image: url("../img/bg-image.jpg");
  background-size: 100vw 100vh;
  padding: 2em;
  min-height: 100vh;
  min-width: 100vw;
}

.projetos figure {
  text-align: center;
}

.projetos figure .iniciacao {
  width: 102%;
}
.projetos figure .artigo {
  width: 106%;
}
.projetos figure .vtec {
  width: 110%;
}
.projetos figure .lourdes {
  width: 111%;
}
.projetos figure .visao {
  width: 58%;
}


.projetos .img {
  width: 100%;
  right: 100%;
  border-radius: 30px 0px;
  transition: transform 0.5s;
}

.projetos .img:hover {
  transform: scale(1.05);
}

.projetos a:hover {
  text-decoration: underline;
}

#grid-projetos {
  grid-template-columns: 240px;
  display: grid;
  gap: 3em 3em;
  justify-content: center;
  align-content: center;
  height: calc(100vh - 100px -1em);
}
