.sobre p {
  /* margin-bottom: 1em; */
  /* margin-left: 5em; */
  color: rgba(241, 216, 216, 1);
  font-family: "Helvetica Neue", Helvetica;
  font-size: 1.7em;
}

.sobre .fas {
  font-size: 2em;
  color: whitesmoke;
}

.sobre {
  padding: 2em;
  min-height: 100vh;
  min-width: 100vw;
}

.sobre {
  background-image: url("../img/bg-image.jpg");
  background-size: 100vw 100vh;
}

.sobre {
  padding: 2em;
  min-height: 100vh;
}


.text-justify {
  border-left: 3px  solid black;
  border-bottom: 3px solid black;

}
