.sobre p {
  /* margin-bottom: 1em; */
  /* margin-left: 5em; */
  color: rgb(80, 79, 79);
  font-family: "Helvetica Neue", Helvetica;
  font-size: 1.7em;
  align-items: center;
}

.sobre .fas {
  font-size: 2em;
  color: whitesmoke;
}

.sobre {
  padding: 2em;
  min-height: 100vh;
  min-width: 100vw;
}

.sobre {
  background-image: linear-gradient(#e1eff8, #b2d1e4);
  background-size: 100vw 100vh;
}

.sobre {
  padding: 2em;
  min-height: 100vh;
}


.text-justify {
  /* border-bottom: 3px  solid black; */
  /* width: 50rem; */
  align-content: center;
}

.text-justify:hover {
  background-color: rgba(151, 197, 235, 0.897);
}
